---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="w-full max-w-[60rem] py-10">
        <h1 class="font-semibold text-3xl my-3">Ads</h1>
        <p class="mb-8">
            Here you can watch the latest and greatest advertizements for free.
        </p>
        <iframe
            src="https://adservices.metamuffin.org/v1/embed?s=blukae.de"
            ,
            style="border:none;width:728px;height:90px;"></iframe>
    </main>
</Layout>
