---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="w-full max-w-[60rem] py-10">
        <h1 class="font-semibold text-3xl my-3">Links</h1>
        There are no links yet...
    </main>
</Layout>
