---
import Section from "../layouts/Section.astro";
---

<Section id="links" title="Links">
    <ul>
        <h3 class="font-medium">
            <a href="https://archive.ragtag.moe/">Ragtag Archive</a>
        </h3>
        <p>
            This is one of the coolest YouTube archives saving more than 1.9
            Petabytes of content.
        </p>
    </ul>
</Section>
