<header class="w-full">
    <nav
        class="max-w-[70rem] h-24 mx-auto font-semibold flex flex-row w-full items-center"
    >
        <a href="/" class="big-uppercase inline mr-auto"
            >bluKae's Personal Website</a
        >

        <ul class="list-none flex flex-row">
            <li class="mx-5"><a href="/links">Links</a></li>
        </ul>
    </nav>
</header>
