---
import Section from "../layouts/Section.astro";
---

<Section id="projects" title="Projects">
    <p>
        I have a lot of projects, but mostly unfinished ones like this website. <br
        />
        This will once be a grid displaying cards of the projects I'm working on.
    </p>
</Section>
