---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import "../style.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="icon" href="/favicon.ico" />

        <meta name="generator" content={Astro.generator} />
        <title>bluKae's Personal Website</title>
        <meta
            name="description"
            content="Hello, I'm bluKae and this is my personal website."
        />
        <meta name="author" content="bluKae" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <meta property="og:title" content="bluKae" />
        <meta
            property="og:description"
            content="Hello, I'm bluKae and this is my personal website."
        />
        <meta property="og:image" content="https://blukae.de/avatar.png" />
        <meta property="og:url" content="https://blukae.de" />
        <meta property="og:type" content="website" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="bluKae" />
        <meta
            name="twitter:description"
            content="Hello, I'm bluKae and this is my personal website."
        />
        <meta name="twitter:image" content="https://blukae.de/avatar.webp" />
        <meta name="theme-color" content="#ffffff" />
    </head>
    <body class="">
        <Nav />
        <main class="flex justify-center">
            <div class="max-w-[70rem] flex-1">
                <slot />
            </div>
        </main>
        <Footer />
    </body>

    <script>
        import Alpine from "alpinejs";
        import scrollTo from "alpinejs-scroll-to";

        Alpine.plugin(scrollTo);

        Alpine.start();
    </script>
</html>
